@use "./variables/colors.scss";
@import "./variables/mixins.scss";
$font-family_1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-family_2: fantasy;
$font-family_3: Georgia, "Times New Roman", Times, serif;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: colors.$mediumGrey;
  position: relative;  
}
.header{
  @include nav(0,null);
}
.main {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: colors.$mediumGrey;
  height: max-content;
  position: absolute;
  top: 3.5rem;
}
.header__nav__items {
  display: flex;
  justify-content: space-between;
}
.header__button {
  background-color: colors.$lightGreen;
  border: none;
  color: colors.$purewhite;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid colors.$black;
  box-shadow: 2px 2px 5px colors.$darkGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: colors.$mediumGreen;
  }
}
.header__logo {
  height: 2rem;
  display: inline-block;
}
.header__anchor {
  color: colors.$purewhite;
  text-decoration: none;
  font-size: 0.9rem;
}
.main__section__aside {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  text-align: center;
  color: colors.$purewhite;
}
.main__aside__heading {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.main__section1,.footer{
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__heading {
  color: colors.$antiqueWhite;
  font-size: 3rem;
  font-family: $font-family_1;
  margin: 2rem 0;
}
.footer{
  position: absolute; 
  bottom: 0; 
  right:2em;
top:99%;
left:2rem;   
  height: 50px; 
.footer__nav{
 .footer__license{
  margin-left: 3rem;
  font-size: 0.7rem;
  color: colors.$purewhite;
 }
}
.footer__icons{
  height: 3rem;
  width:20% ;
  display: flex;
  justify-content: space-between;
  a{
    color:white;
    &:hover{
      color: orange;
    }
  }
} 
}
.main__nav__list,.footer__nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.main_list_item,.footer_list_item {
  margin: 0.5rem;
  position: relative;
  &:first-child {
    &:before {
      content: "\2022";
      color: colors.$orange;
      font-size: larger;
      font-weight: bold;
      position: absolute;
      right: -0.5em;
      top: -1em;
      padding-right: 1em;
    }
  }
  &:not(:first-child) {
    &:not(:last-child) {
      &:hover {
        &:before {
          content: "\2022";
          color: colors.$lightGrey;
          font-weight: bold;
          font-size: larger;
          position: absolute;
          right: -0.5em;
          top: -1em;
          padding-right: 1em;
        }
      }
    }
  }
  a {
    padding: 0.3em;
    color: colors.$purewhite;
    text-decoration: none;
  }
}
.grid {  
display: grid;
  margin-left: 2em;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5" "item6 item6 item6 item6" "item7 item7 item7 item7" "item8 item8 item8 item8" "item9 item9 item9 item9" "item10 item10 item11 item11";
  .item {
    &:nth-of-type(-n + 5) {
      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    &:hover {
      .box {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    &:nth-child(6) {
      @include row--hover(6);
    }
    &:nth-child(7) {
      @include row--hover(7);
      .content {
        height: 17rem;
        width: 60%;
        position: relative;
        margin: auto;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        margin-left: 4em;
        margin-top: 4em;
        padding: 2em;
        
        .horizontal-line {
          border: none;
          border-top: 2px solid black;
          left: 2em;
          position: absolute;
          top: 8em;
          width: 4rem;      
        }}
    }
    &:nth-child(8) {
      @include row--hover(8);
    }
    &:nth-child(10) {
      @include row--hover(10);
    }
    &:nth-child(11) {
      @include row--hover(11);
    }
  }
}
.grid .item {
  $colorsBefore: colors.$transparent, colors.$blue, colors.$orange,
    colors.$purple, colors.$pink,colors.$lightPurple,colors.$dullOrange;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1;
  margin: 0.25em;
  border-radius: 1rem;
  position: relative;
  transition: transform 0.2s ease-out;
  @for $i from 1 through 11 {
    &:nth-child(#{$i}) {
      grid-area: item#{$i}; 
      @if ($i%2==0 or $i==1) {
        @if ($i<6) {
          .grid__item__btn {
            @if ($i!=1) {
              color: nth($colorsBefore, $i);
            }

            background-color: colors.$purewhite;
          }
        }
        .grid__item__paragraph {
          //btn is dealing only with row 1 and 2. para is dealing with 3 and 4 rows also
          color: colors.$purewhite;
        }
      } @else {
        @if ($i<6) {
          .grid__item__btn {
            @if ($i!=1) {
              color: nth($colorsBefore, $i);
            }
            background-color: colors.$black;
          }
        }
        .grid__item__paragraph {
          color: colors.$black;
        }
      }
      background-repeat: no-repeat;
      background-size: cover;
      @if ($i < 6) {
        background-image: url("images/#{$i}.jpg");
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: nth($colorsBefore, $i);
          border-radius: 1rem;
        }
      }
    }
  }
  &:nth-child(6) {
    @include custom-nth(6, 26rem, 72rem, "images/6.jpg",none);
  }
  &:nth-child(7) {
    @include custom-nth(7, 30rem,72rem, "images/7.jpg",black);
  }
  &:nth-child(8) {
    @include custom-nth(8, 26rem, 72rem,"images/8.jpg",white);
  }
  &:nth-child(9) {
    .centerText {
     height:10rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
       font-weight: $font-family_1;
      color: colors.$purewhite;
      font-size: 1rem;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
  }
  &:nth-child(10) {
    @include custom-nth(10, 26rem, 35rem,"images/9.jpg",none);
  }
  &:nth-child(11) {
    @include custom-nth(11, 26rem, 35rem,"images/10.jpg",none);
  }
}
.mergedBox {
  height: 26rem;
  width: 16rem;
  position: relative;
  .grid__item__btn {
    text-align: center;
    margin: auto;
  }
}
.box {
  height: 12rem;
  width: 16rem;
  position: relative;
  border-radius: 1rem;
}
.grid__item__btn {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: none;
  position: absolute;
  left: 0;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.grid__item__paragraph {
  font-size: 1.5rem;
  font-family: $font-family_2;
  position: absolute;
  bottom: 0em;
  left: 0;
}
.item__box6 {
  @include item-box(
    26rem,
    100%,
    0.5rem,
    colors.$purewhite,
    colors.$darkGreen,
    1rem
  );
}
.item__box7 {
  @include item-box(
    30rem,
    100%,
    0.5rem,
    colors.$black,
    colors.$yellowMustard,
    1rem
  );
}
.item__box8 {
  @include item-box(
    26rem,
    100%,
    0.5rem,
    colors.$purewhite,
    #0000003d,
    1rem
  );
}
.item__box10 {
  @include item-box(
    26rem,
    30rem,
    0.5rem,
    colors.$black,
    colors.$lightPurple,
    1rem
  );
}
.item__box11 {
  @include item-box(
    26rem,
    30rem,
    0.5rem,
    colors.$black,
    colors.$dullOrange,
    1rem
  );
}
.grid__box6__btn1,
.grid__box8__btn1
  {
  @include button-style(
    2em,
    1em,
    colors.$purewhite,
    colors.$purewhite,
    colors.$black,
    colors.$purewhite
  );
  a {
    color: white;
  }
}
.grid__box7__btn1 {
  @include button-style(
    2em,
    1em,
    colors.$black,
    colors.$black,
    colors.$yellow,
    colors.$black
  );
}
.grid__box6__btn2,
.grid__box8__btn2
 {
  @include button-style(
    8em,
    1em,
    colors.$purewhite,
    colors.$purewhite,
    colors.$black,
    colors.$purewhite
  );
  a {
    color: white;
  }
}
.grid__box10__btn1 {
  @include button-style(
    2em,
    2em,
    colors.$black,
    colors.$black,
    colors.$lightPurple,
    colors.$black
  );
}
.grid__box7__btn2  {
  @include button-style(
    8em,
    1em,
    colors.$black,
    colors.$black,
    colors.$yellow,
    colors.$black
  );
}
.grid__box11__btn1  {
  @include button-style(
    2em,
    2em,
    colors.$black,
    colors.$black,
    colors.$dullOrange,
    colors.$black
  );
}
.grid__box11__btn2  {
  @include button-style(
    8em,
    2em,
    colors.$black,
    colors.$black,
    colors.$dullOrange,
    colors.$black
  );
}
.grid__box11__btn3  {
  @include button-style(
    14em,
    2em,
    colors.$black,
    colors.$black,
    colors.$dullOrange,
    colors.$black
  );
  a {
    color: black;
  }
}
.grid__item6__paragraph,
.grid__item8__paragraph {
  @include grid-item-paragraph(colors.$purewhite, none, none, 2em, 1.2em);
}
.grid__item7__paragraph  {
  @include grid-item-paragraph(colors.$black, 5em, none, none, 1.2em);
}
.grid__item10__paragraph  {
  @include grid-item-paragraph(colors.$black, 8em, none, none, 1.2em);
}
.grid__item11__paragraph {
  @include grid-item-paragraph(colors.$black, 8em, none, 2em, 1.2em);
}
.grid__item7__heading,.grid__item10__heading {
  a {
    position: absolute;
    font-family: $font-family_2;
    color: colors.$black;
    left: 1em;
    font-size: 1rem;
    top: 4rem;
    width: 8rem;
  }
}
 .Blog{
 
  display: flex;
  margin-left:2.2rem;  
  margin-top: 2rem;
.Blog__item{ 
border: 2px yellow solid;
margin:1rem;
@include custom-nth(12, 26rem, 23rem, "./images/6.jpg",null);
@include custom-nth(13, 26rem, 23rem, "./images/7.jpg",black);
@include custom-nth(14, 26rem, 23rem, "./images/8.jpg",white);
@include row--hover(12);
@include row--hover(13);
@include row--hover(14);
.item__box12{
@include item-box(26rem,23rem,0.5rem,colors.$purewhite, #ffa5000a, 2rem);
.grid__box12__btn1{
  @include button-style( 2rem, 2rem, colors.$purewhite, colors.$purewhite, colors.$black, colors.$purewhite);
}
.grid__box12__btn2{
  @include button-style( 8rem, 2rem, colors.$purewhite, colors.$purewhite, colors.$black, colors.$purewhite);
}
a {
  color: white;
}
.grid__item12__paragraph{
@include grid-item-paragraph(colors.$purewhite, 3rem, 3rem, 5rem, 2rem);
}
}
.item__box13{
  @include item-box(26rem,23rem,0.5rem,colors.$lightGrey,#f497d466,2rem);
  .grid__box13__btn1{
    @include button-style( 2rem, 2rem, colors.$darkGrey, colors.$darkGrey, #f497d466, colors.$darkGrey);
  }
  .grid__box13__btn2{
    @include button-style( 8rem, 2rem, colors.$darkGrey, colors.$darkGrey, #f497d466, colors.$darkGrey);
  }
  a {
    color: colors.$darkGrey;
  }
  .grid__item13__paragraph{
    @include grid-item-paragraph(colors.$darkGrey, 3.5rem, 2rem, 2rem, 2rem);
    }
  }
  .item__box14{
    @include item-box(26rem,23rem,0.5rem,colors.$purewhite,#f497d466,2rem);
    .grid__box14__btn1{
      @include button-style( 2rem, 2rem, colors.$purewhite, colors.$purewhite, colors.$black, colors.$purewhite);
    }
    .grid__box14__btn2{
      @include button-style( 8rem, 2rem, colors.$purewhite, colors.$purewhite, colors.$black, colors.$purewhite);
    }
    a {
      color: white;
    }
    .grid__item14__paragraph{
      @include grid-item-paragraph(colors.$purewhite, 3.5rem, 2rem, 2rem, 2rem);
      }
    }
 }
}
.LoadButton {
  display: flex;
  justify-content: center;
  margin: 2rem;

  .LoadButton__btn {
    width: 100%;
    max-width: 100%;
    @include formButton();
  }
}
.subscribeform__submitButton{
  width: 30%;
  max-width: 30%;
  display: inline-block;
  margin: 4rem auto;
  @include formButton();
}
.subscribeform__header{
display: flex;
width:60vw;
text-align: center;
justify-content: center;
align-items: center;
margin: auto;
color: white;
font-size: large;
font-size: 3rem;
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subscribeform__input{
  display: flex;
  width: 20rem;
  font-size: 1rem;
text-align: center;
justify-content: center;
align-items: center;
margin: auto;
color: white;
border-bottom: 3px solid white;
padding-top:2rem;
  display: block;
  transition: width .5s ease .2s;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  .subscribeform__ityped{
    max-width: fit-content;
  p{
    animation: typing 5s steps(50) infinite;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    background-color: aquamarine;
    max-width: fit-content;
    padding: 1em;
  }
}
}
@keyframes typing {
  from {
      width: 0%;
  }
  to {
      width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  body{
    font-size: 10px;
    width:50%;
  }
  .grid {
    width:50%;
    display: grid;
    grid-template-areas :"item1" "item2" 
    "item3" "item4" 
    "item5" "item6"
     "item7" "item8" 
     "item9 ."
     "item10" "item11";
  width: 50vw;
  }
  .main__section3__grid div {
    width: 50%;
  }
  .Blog{
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* Add your styles here */.grid {
    display: grid;
    grid-template-areas :"item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "item9" "item10" "item11";
  
    width: 50vw;
    }
    .main__section3__grid div {
      width: 100%;
    }
    .Blog{
      display: block;
    }
}
