@use "./variables/colors.scss";

$font-family_1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-family_2: fantasy;
$font-family_3: Georgia, "Times New Roman", Times, serif;

/*main body*/
/* <header class="header"> and <main class="main"> header contains img and button- on top that is fixed */
/*header nav items just have a logo img and a button (button contains anchor tag)*/
/*Nav Bar of header animation*/
/*ASIDE section  contains a heading*/
/*Main*/
/*this is for bring orange dot on top of first list item*/
/*bringing grey dot on every list item except first and last list item*/
/*navigation list is made up of ul that has li and each li has anchor tags*/
/* SECTION 3  */
/* grid has items. grid is basically a div   */
/* div inside grid div defines one item and each item has div box that has a pinned button, an anchor tag and a paragraph  */
/* SECTION 3  GRID:DIV has multiple items. item1,item2,item3,item4 and item5 will move up on hover and change pointer type to cursor */
/*
.grid div:nth-child(1):hover,
.grid div:nth-child(2):hover,
.grid div:nth-child(3):hover,
.grid div:nth-child(4):hover,
.grid div:nth-child(5):hover
{
  
cursor:pointer;
transform: translateY(-5px);
}*/
/* grid item 1 and item 4 are merged to make one block. grid contains items and item contains box  */
/* button of item1 and item4 */
/*div inside items  */
/* PINNED BUTTON IN TOP 2 ROWS OF GRID */
/* 3rd row of grid (item6) that has only one item  */
/*  3rd row of grid (item6) has 2 btns they should also change their color on hover */
/*3rd row of grid (item6) buttons should change the anchor tag color to black and button color to white*/
/*DEFINING ITEMS FOR GRID AREAS*/
/*PUT 4TH DIV ITEM FROM HTML INTO GRID AREA AS ITEM1*/
/*3RD ROW (6TH GRID ITEM) IS GIVEN BACKGROUND IMAGE. PUTTING IN SEPERATE BOX SO THAT TRANSITION ONLY APPLIES TO THE IMAGE, NOT TO THE CONTEMTS)*/
/*ON HOVER THE 3RD GRID ROW THE BACKGROUD IMAGE INSIDE IMG BOX GETS A BIT ZOOMED*/
/*The paragraph of 3rd row contains an arrow inside a span tag which is initially not visible*/
/*when we hover over paragraph of 3rd row the arrow inside span tag bcmz visible*/
/*the background of 6th item (3rd row of grid) is a bit greyish*/
/*the background of 7th item (3rd row of grid) is a bit greyish*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: colors.$mediumGrey;
}
.header {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: colors.$darkGrey;
  border-bottom: 2px solid colors.$black;
  height: 3.5rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
.main {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: colors.$mediumGrey;
  height: max-content;
  position: absolute;
  top: 3.5rem;
}
.header__nav__items {
  display: flex;
  justify-content: space-between;
}
.header__button {
  background-color: colors.$lightGreen;
  border: none;
  color: colors.$purewhite;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid colors.$black;
  box-shadow: 2px 2px 5px colors.$darkGreen;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: colors.$mediumGreen;
  }
}
.header__logo {
  height: 2rem;
  display: inline-block;
}
.header__anchor {
  color: colors.$purewhite;
  text-decoration: none;
  font-size: 0.9rem;
}
.main__section__aside {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  text-align: center;
  color: colors.$purewhite;
}
.main__aside__heading {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.main__section1 {
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__heading {
  color: colors.$antiqueWhite;
  font-size: 3rem;
  font-family: $font-family_1;
  margin: 2rem 0;
}
.main__nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.main_list_item {
  margin: 0.5rem;
  position: relative;
  &:first-child {
    &:before {
      content: "\2022";
      color: colors.$blue;
      font-weight: bold;
      position: absolute;
      right: -0.5em;
      top: -1em;
      padding-right: 1em;
    }
  }
  &:not(:first-child) {
    &:not(:last-child) {
      &:hover {
        &:before {
          content: "\2022";
          color: colors.$lightGrey;
          font-weight: bold;
          position: absolute;
          right: -0.5em;
          top: -1em;
          padding-right: 1em;
        }
      }
    }
  }
  a {
    padding: 0.3em;
    color: colors.$purewhite;
    text-decoration: none;
  }
}
.centerText {
  display: block;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  border: 2px red solid;
  font-weight: $font-family_1;
  color: colors.$purewhite;
  font-size: 1rem;
  letter-spacing: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
}
.grid {
  border: green 3px solid;

  display: grid;
  margin-left: 2em;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5" "item6 item6 item6 item6" "item7 item7 item7 item7" "item8 item8 item8 item8";
  .item {
    &:nth-of-type(-n + 5) {
      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    &:hover {
      .box {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    @mixin row--hover($row_num) {
      .item__box#{$row_num} {
        .bg_image_holder {
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

    &:nth-child(6) {
      @include row--hover(6);
    }
    &:nth-child(7) {
      @include row--hover(7);
    }
    &:nth-child(8) {
      @include row--hover(8);
    }
  }
}
.item {
  $colorsBefore: colors.$transparent, colors.$blue, colors.$orange,
    colors.$purple, colors.$pink;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1;
  margin: 0.25em;
  border-radius: 1rem;
  position: relative;
  transition: transform 0.2s ease-out;
  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      grid-area: item#{$i}; //assigning grid areas bu looping through

      @if ($i%2==0 or $i==1) {
        // in grid row 1 and 2 there assigning paragraph and button colors based upon even and odd
        @if ($i<6) {
          .grid__item__btn {
            @if ($i!=1) {
              color: nth($colorsBefore, $i);
            }

            background-color: colors.$purewhite;
          }
        }
        .grid__item__paragraph {
          //btn is dealing only with row 1 and 2. para is dealing with 3 and 4 rows also
          color: colors.$purewhite;
        }
      } @else {
        @if ($i<6) {
          .grid__item__btn {
            @if ($i!=1) {
              color: nth($colorsBefore, $i);
            }
            background-color: colors.$black;
          }
        }
        .grid__item__paragraph {
          color: colors.$black;
        }
      }
      background-repeat: no-repeat;
      background-size: cover;
      @if ($i < 6) {
        //giving url img to first and second row. rest rows contains more containers for img
        background-image: url("images/#{$i}.jpg");
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: nth($colorsBefore, $i);
          border-radius: 1rem;
        }
      }
    }
  }
  @mixin custom-nth($n, $height, $bg-image) {
    overflow: hidden;
    width: 100%;
    height: #{$height};
    position: relative;
    .item__box#{$n} {
      width: 100%;
      height: #{$height};
      border-radius: 1rem;
      .bg_image_holder {
        background-image: url("#{$bg-image}");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: #{$height};
        top: 0;
        left: 0;
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &:nth-child(6) {
    @include custom-nth(6, 26rem, "images/6.jpg");
  }
  &:nth-child(7) {
    @include custom-nth(7, 30rem, "images/7.jpg");
  }
  &:nth-child(8) {
    @include custom-nth(8, 26rem, "images/8.jpg");
  }
}
.mergedBox {
  height: 26rem;
  width: 20rem;
  position: relative;
  .grid__item__btn {
    text-align: center;
    margin: auto;
  }
}
.box {
  height: 12rem;
  width: 20rem;
  position: relative;
  border-radius: 1rem;
}
.grid__item__btn {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: none;
  position: absolute;
  left: 0;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.grid__item__paragraph {
  font-size: 1.5rem;
  font-family: $font-family_2;
  position: absolute;
  bottom: 0em;
  left: 0;
}

@mixin item-box(
  $height,
  $width,
  $font-size,
  $color,
  $bg-color,
  $border-radius
) {
  //mixin for item6,7,8
  height: $height;
  width: $width;
  position: relative;
 a {
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    color: $color;
    font-size: $font-size;
  }
  .bg_image_holder {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $bg-color;
      backdrop-filter: blur(0);
      border-radius: $border-radius;
    }
  }
  &.item__box7 {
    height: 30rem;
    .content {
      height: 17rem;
      width: 60%;
      position: relative;
      margin: auto;
      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      margin-left: 4em;
      margin-top: 4em;
      padding: 2em;
      .horizontal-line {
        border: none;
        border-top: 3px solid $color;
        left: 2em;
        position: absolute;
        top: 8em;
        width: 3rem;
      }
    }
  }
}
.item__box6 {
  @include item-box(
    26rem,
    100%,
    0.5rem,
    colors.$black,
    colors.$darkGreen,
    1rem
  );
}
.item__box7 {
  @include item-box(
    30rem,
    100%,
    0.5rem,
    colors.$black,
    colors.$yellowMustard,
    1rem
  );
}
.item__box8 {
  @include item-box(
    26rem,
    100%,
    0.5rem,
    colors.$black,
    colors.$transparent,
    1rem
  );
}

//mixins for buttons in row3,4,5

@mixin button-style(
  $left,
  $top,
  $border-color,
  $hover-bg-color,
  $hover-text-color,
  $hover-border-color
) {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: $border-color 1px solid;
  position: absolute;
  left: $left;
  top: $top;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: colors.$transparent;
  transition: all 0.3s ease;
  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
    border: $hover-border-color;
    a {
      background-color: $hover-bg-color;
      color: $hover-text-color;
      border: none;
    }
  }
}
.grid__box6__btn1,
.grid__box8__btn1 {
  @include button-style(
    2em,
    1em,
    colors.$purewhite,
    colors.$purewhite,
    colors.$black,
    colors.$purewhite
  );
  a {
    color: white;
  }
}
.grid__box7__btn1 {
  @include button-style(
    2em,
    1em,
    colors.$black,
    colors.$black,
    colors.$yellow,
    colors.$black
  );
}
.grid__box6__btn2,
.grid__box8__btn2 {
  @include button-style(
    8em,
    1em,
    colors.$purewhite,
    colors.$purewhite,
    colors.$black,
    colors.$purewhite
  );
  a {
    color: white;
  }
}
.grid__box7__btn2 {
  @include button-style(
    8em,
    1em,
    colors.$black,
    colors.$black,
    colors.$yellow,
    colors.$black
  );
}

@mixin grid-item-paragraph($color, $top, $right, $bottom, $left) {
  position: absolute;
  font-size: 1.5rem;
  font-family: $font-family_2;
  color: $color;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
  transition: all 0.9s ease-in-out;

  .box_span {
    opacity: 0;
    height: 0;
  }

  &:hover {
    .box_span {
      opacity: 1;
      height: auto;
      display: inline;
    }
  }
}

.grid__item6__paragraph,
.grid__item8__paragraph {
  @include grid-item-paragraph(colors.$purewhite, none, none, 2em, 1em);
}
.grid__item7__paragraph {
  @include grid-item-paragraph(colors.$black, 5em, none, none, 1em);
}

.grid__item7__heading {
  a {
    position: absolute;
    font-family: $font-family_2;
    color: colors.$black;
    left: 1em;
    font-size: 2rem;
    top: 5rem;
  }
}

.content {
  div {
    position: absolute;
    font-size: 1.5rem;
    color: colors.$black;
    left: 1em;
    bottom: 0;
    a {
      font-size: 1rem;
      transition: cursor 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
