@charset "UTF-8";
/*main body*/
/* <header class="header"> and <main class="main"> header contains img and button- on top that is fixed */
/*header nav items just have a logo img and a button (button contains anchor tag)*/
/*Nav Bar of header animation*/
/*ASIDE section  contains a heading*/
/*Main*/
/*this is for bring orange dot on top of first list item*/
/*bringing grey dot on every list item except first and last list item*/
/*navigation list is made up of ul that has li and each li has anchor tags*/
/* SECTION 3  */
/* grid has items. grid is basically a div   */
/* div inside grid div defines one item and each item has div box that has a pinned button, an anchor tag and a paragraph  */
/* SECTION 3  GRID:DIV has multiple items. item1,item2,item3,item4 and item5 will move up on hover and change pointer type to cursor */
/*
.grid div:nth-child(1):hover,
.grid div:nth-child(2):hover,
.grid div:nth-child(3):hover,
.grid div:nth-child(4):hover,
.grid div:nth-child(5):hover
{

cursor:pointer;
transform: translateY(-5px);
}*/
/* grid item 1 and item 4 are merged to make one block. grid contains items and item contains box  */
/* button of item1 and item4 */
/*div inside items  */
/* PINNED BUTTON IN TOP 2 ROWS OF GRID */
/* 3rd row of grid (item6) that has only one item  */
/*  3rd row of grid (item6) has 2 btns they should also change their color on hover */
/*3rd row of grid (item6) buttons should change the anchor tag color to black and button color to white*/
/*DEFINING ITEMS FOR GRID AREAS*/
/*PUT 4TH DIV ITEM FROM HTML INTO GRID AREA AS ITEM1*/
/*3RD ROW (6TH GRID ITEM) IS GIVEN BACKGROUND IMAGE. PUTTING IN SEPERATE BOX SO THAT TRANSITION ONLY APPLIES TO THE IMAGE, NOT TO THE CONTEMTS)*/
/*ON HOVER THE 3RD GRID ROW THE BACKGROUD IMAGE INSIDE IMG BOX GETS A BIT ZOOMED*/
/*The paragraph of 3rd row contains an arrow inside a span tag which is initially not visible*/
/*when we hover over paragraph of 3rd row the arrow inside span tag bcmz visible*/
/*the background of 6th item (3rd row of grid) is a bit greyish*/
/*the background of 7th item (3rd row of grid) is a bit greyish*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(44, 44, 63);
}

.header {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: rgb(43, 41, 41);
  border-bottom: 2px solid black;
  height: 3.5rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}

.main {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2em;
  background-color: rgb(44, 44, 63);
  height: max-content;
  position: absolute;
  top: 3.5rem;
}

.header__nav__items {
  display: flex;
  justify-content: space-between;
}

.header__button {
  background-color: rgba(94, 189, 53, 0.966);
  border: none;
  color: white;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(33, 186, 110, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button:hover {
  background-color: rgba(59, 177, 59, 0.966);
}

.header__logo {
  height: 2rem;
  display: inline-block;
}

.header__anchor {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.main__section__aside {
  width: fit-content;
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  text-align: center;
  color: white;
}

.main__aside__heading {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.main__section1 {
  margin-left: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__heading {
  color: antiquewhite;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 2rem 0;
}

.main__nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.main_list_item {
  margin: 0.5rem;
  position: relative;
}
.main_list_item:first-child:before {
  content: "•";
  color: rgba(78, 11, 234, 0.5);
  font-weight: bold;
  position: absolute;
  right: -0.5em;
  top: -1em;
  padding-right: 1em;
}
.main_list_item:not(:first-child):not(:last-child):hover:before {
  content: "•";
  color: grey;
  font-weight: bold;
  position: absolute;
  right: -0.5em;
  top: -1em;
  padding-right: 1em;
}
.main_list_item a {
  padding: 0.3em;
  color: white;
  text-decoration: none;
}

.centerText {
  display: block;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  border: 2px red solid;
  font-weight: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.grid {
  border: green 3px solid;
  display: grid;
  margin-left: 2em;
  grid-template-areas: "item1 item1 item2 item3" "item1 item1 item4 item5" "item6 item6 item6 item6" "item7 item7 item7 item7" "item8 item8 item8 item8";
}
.grid .item:nth-of-type(-n + 5):hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.grid .item:hover .box {
  cursor: pointer;
  transform: translateY(-5px);
}
.grid .item:nth-child(6) .item__box6 .bg_image_holder:hover {
  transform: scale(1.05);
}
.grid .item:nth-child(7) .item__box7 .bg_image_holder:hover {
  transform: scale(1.05);
}
.grid .item:nth-child(8) .item__box8 .bg_image_holder:hover {
  transform: scale(1.05);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1;
  margin: 0.25em;
  border-radius: 1rem;
  position: relative;
  transition: transform 0.2s ease-out;
}
.item:nth-child(1) {
  grid-area: item1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/1.jpg");
}
.item:nth-child(1) .grid__item__btn {
  background-color: white;
}
.item:nth-child(1) .grid__item__paragraph {
  color: white;
}
.item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 1rem;
}
.item:nth-child(2) {
  grid-area: item2;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/2.jpg");
}
.item:nth-child(2) .grid__item__btn {
  color: rgba(78, 11, 234, 0.5);
  background-color: white;
}
.item:nth-child(2) .grid__item__paragraph {
  color: white;
}
.item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(78, 11, 234, 0.5);
  border-radius: 1rem;
}
.item:nth-child(3) {
  grid-area: item3;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/3.jpg");
}
.item:nth-child(3) .grid__item__btn {
  color: orange;
  background-color: black;
}
.item:nth-child(3) .grid__item__paragraph {
  color: black;
}
.item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  border-radius: 1rem;
}
.item:nth-child(4) {
  grid-area: item4;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/4.jpg");
}
.item:nth-child(4) .grid__item__btn {
  color: rgba(142, 114, 209, 0.5);
  background-color: white;
}
.item:nth-child(4) .grid__item__paragraph {
  color: white;
}
.item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(142, 114, 209, 0.5);
  border-radius: 1rem;
}
.item:nth-child(5) {
  grid-area: item5;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/5.jpg");
}
.item:nth-child(5) .grid__item__btn {
  color: rgba(244, 151, 212, 0.747);
  background-color: black;
}
.item:nth-child(5) .grid__item__paragraph {
  color: black;
}
.item:nth-child(5)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(244, 151, 212, 0.747);
  border-radius: 1rem;
}
.item:nth-child(6) {
  grid-area: item6;
  background-repeat: no-repeat;
  background-size: cover;
}
.item:nth-child(6) .grid__item__paragraph {
  color: white;
}
.item:nth-child(7) {
  grid-area: item7;
  background-repeat: no-repeat;
  background-size: cover;
}
.item:nth-child(7) .grid__item__paragraph {
  color: black;
}
.item:nth-child(8) {
  grid-area: item8;
  background-repeat: no-repeat;
  background-size: cover;
}
.item:nth-child(8) .grid__item__paragraph {
  color: white;
}
.item:nth-child(6) {
  overflow: hidden;
  width: 100%;
  height: 26rem;
  position: relative;
}
.item:nth-child(6) .item__box6 {
  width: 100%;
  height: 26rem;
  border-radius: 1rem;
}
.item:nth-child(6) .item__box6 .bg_image_holder {
  background-image: url("images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 26rem;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}
.item:nth-child(7) {
  overflow: hidden;
  width: 100%;
  height: 30rem;
  position: relative;
}
.item:nth-child(7) .item__box7 {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}
.item:nth-child(7) .item__box7 .bg_image_holder {
  background-image: url("images/7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 30rem;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}
.item:nth-child(8) {
  overflow: hidden;
  width: 100%;
  height: 26rem;
  position: relative;
}
.item:nth-child(8) .item__box8 {
  width: 100%;
  height: 26rem;
  border-radius: 1rem;
}
.item:nth-child(8) .item__box8 .bg_image_holder {
  background-image: url("images/8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 26rem;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.mergedBox {
  height: 26rem;
  width: 20rem;
  position: relative;
}
.mergedBox .grid__item__btn {
  text-align: center;
  margin: auto;
}

.box {
  height: 12rem;
  width: 20rem;
  position: relative;
  border-radius: 1rem;
}

.grid__item__btn {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: none;
  position: absolute;
  left: 0;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.grid__item__paragraph {
  font-size: 1.5rem;
  font-family: fantasy;
  position: absolute;
  bottom: 0em;
  left: 0;
}

.item__box6 {
  height: 26rem;
  width: 100%;
  position: relative;
}
.item__box6 a {
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  color: black;
  font-size: 0.5rem;
}
.item__box6 .bg_image_holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 186, 110, 0.4);
  backdrop-filter: blur(0);
  border-radius: 1rem;
}
.item__box6.item__box7 {
  height: 30rem;
}
.item__box6.item__box7 .content {
  height: 17rem;
  width: 60%;
  position: relative;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 4em;
  margin-top: 4em;
  padding: 2em;
}
.item__box6.item__box7 .content .horizontal-line {
  border: none;
  border-top: 3px solid black;
  left: 2em;
  position: absolute;
  top: 8em;
  width: 3rem;
}

.item__box7 {
  height: 30rem;
  width: 100%;
  position: relative;
}
.item__box7 a {
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  color: black;
  font-size: 0.5rem;
}
.item__box7 .bg_image_holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(223, 238, 12, 0.7);
  backdrop-filter: blur(0);
  border-radius: 1rem;
}
.item__box7.item__box7 {
  height: 30rem;
}
.item__box7.item__box7 .content {
  height: 17rem;
  width: 60%;
  position: relative;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 4em;
  margin-top: 4em;
  padding: 2em;
}
.item__box7.item__box7 .content .horizontal-line {
  border: none;
  border-top: 3px solid black;
  left: 2em;
  position: absolute;
  top: 8em;
  width: 3rem;
}

.item__box8 {
  height: 26rem;
  width: 100%;
  position: relative;
}
.item__box8 a {
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  color: black;
  font-size: 0.5rem;
}
.item__box8 .bg_image_holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(0);
  border-radius: 1rem;
}
.item__box8.item__box7 {
  height: 30rem;
}
.item__box8.item__box7 .content {
  height: 17rem;
  width: 60%;
  position: relative;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 4em;
  margin-top: 4em;
  padding: 2em;
}
.item__box8.item__box7 .content .horizontal-line {
  border: none;
  border-top: 3px solid black;
  left: 2em;
  position: absolute;
  top: 8em;
  width: 3rem;
}

.grid__box6__btn1,
.grid__box8__btn1 {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: white 1px solid;
  position: absolute;
  left: 2em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
  transition: all 0.3s ease;
}
.grid__box6__btn1:hover,
.grid__box8__btn1:hover {
  background-color: white;
  color: black;
  border: white;
}
.grid__box6__btn1:hover a,
.grid__box8__btn1:hover a {
  background-color: white;
  color: black;
  border: none;
}
.grid__box6__btn1 a,
.grid__box8__btn1 a {
  color: white;
}

.grid__box7__btn1 {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: black 1px solid;
  position: absolute;
  left: 2em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
  transition: all 0.3s ease;
}
.grid__box7__btn1:hover {
  background-color: black;
  color: yellow;
  border: black;
}
.grid__box7__btn1:hover a {
  background-color: black;
  color: yellow;
  border: none;
}

.grid__box6__btn2,
.grid__box8__btn2 {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: white 1px solid;
  position: absolute;
  left: 8em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
  transition: all 0.3s ease;
}
.grid__box6__btn2:hover,
.grid__box8__btn2:hover {
  background-color: white;
  color: black;
  border: white;
}
.grid__box6__btn2:hover a,
.grid__box8__btn2:hover a {
  background-color: white;
  color: black;
  border: none;
}
.grid__box6__btn2 a,
.grid__box8__btn2 a {
  color: white;
}

.grid__box7__btn2 {
  width: 5rem;
  height: 1.5rem;
  border-radius: 3em;
  border: black 1px solid;
  position: absolute;
  left: 8em;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
  transition: all 0.3s ease;
}
.grid__box7__btn2:hover {
  background-color: black;
  color: yellow;
  border: black;
}
.grid__box7__btn2:hover a {
  background-color: black;
  color: yellow;
  border: none;
}

.grid__item6__paragraph,
.grid__item8__paragraph {
  position: absolute;
  font-size: 1.5rem;
  font-family: fantasy;
  color: white;
  left: 1em;
  top: none;
  right: none;
  bottom: 2em;
  transition: all 0.9s ease-in-out;
}
.grid__item6__paragraph .box_span,
.grid__item8__paragraph .box_span {
  opacity: 0;
  height: 0;
}
.grid__item6__paragraph:hover .box_span,
.grid__item8__paragraph:hover .box_span {
  opacity: 1;
  height: auto;
  display: inline;
}

.grid__item7__paragraph {
  position: absolute;
  font-size: 1.5rem;
  font-family: fantasy;
  color: black;
  left: 1em;
  top: 5em;
  right: none;
  bottom: none;
  transition: all 0.9s ease-in-out;
}
.grid__item7__paragraph .box_span {
  opacity: 0;
  height: 0;
}
.grid__item7__paragraph:hover .box_span {
  opacity: 1;
  height: auto;
  display: inline;
}

.grid__item7__heading a {
  position: absolute;
  font-family: fantasy;
  color: black;
  left: 1em;
  font-size: 2rem;
  top: 5rem;
}

.content div {
  position: absolute;
  font-size: 1.5rem;
  color: black;
  left: 1em;
  bottom: 0;
}
.content div a {
  font-size: 1rem;
  transition: cursor 0.3s ease-in-out;
}
.content div a:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
